* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --theme-color: #2c3e50;
  --theme-color__hover: #182533;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*============ Code layout =============*/
.layout-left {
  width: 300px;
  height: 100vh;
  background-color: var(--theme-color);
  position: fixed;
  top: 0;
  left: 0;
}
.layout-right {
  width: calc(100% - 300px);
  margin-left: 300px;
}

/*====================== Code layout left================== */
.top-left {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 2rem;
  color: white;
}
.logo a {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.logo a > img {
  width: 100%;
  height: auto;
}
.logo + div {
  font-size: 1.5rem;
}
.menu > li {
  padding: 15px 10px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.menu > li i {
  margin-right: 10px;
}
.menu > li:hover,
.menu .active {
  padding-left: 25px;
  background-color: var(--theme-color__hover);
}
.name-custome {
  cursor: pointer;
}
.account {
  position: relative;
}
.account:hover .account_option {
  display: block;
}
.account_option {
  display: none;
  position: absolute;
  top: -150%;
  left: 60%;
  width: 200px;
  background: var(--theme-color__hover);
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.account_option div {
  padding: 10px;
  cursor: pointer;
}
.account_option div:hover {
  background-color: #3e5b77;
}
